## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:


# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

#(e)ledmac/(e)ledpar
*.end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# gnuplottex
*-gnuplottex-*

# hyperref
*.brf

# knitr
*-concordance.tex
*.tikz
*-tikzDictionary

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mtc
*.mtc[0-9]
*.mtc[1-9][0-9]

# minted
_minted*
*.pyg

# morewrites
*.mw

# mylatexformat
*.fmt

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# xindy
*.xdy

# WinEdt
*.bak
*.sav

*.vim

*.nlg

*.nls

src/Chapitre1/\.idea/

src/Chapitre2/\.idea/

src/Context/\.idea/

ressources/20190705_these_lucken\.pdf

ressources/20190705_these_lucken_Antoine_Ch4\.pdf

ressources/manuscript_antoine_22juillet2019_anne\.pdf

*.M5

*.M6

*.M7

*.M8

*.M1

*.M2

*.M3

*.M4

manuscript_antoine_Ch0a3_anne_lecture_ch0_1\.pdf

ressources/manuscript_antoine_22juillet_chapitre3et4_anne\.pdf

ressources/manuscript_antoine_22juillet2019_ch2_anne\.pdf

src/Chapitre1/figure/\.ipynb_checkpoints/

src/Chapitre1/scripts_figure/\.ipynb_checkpoints/

src/Chapitre1/scripts_figure/__pycache__/

src/Chapitre1/scripts_figure/images_article_1/

src/Chapitre1/scripts_figure/images_article_2/

src/Chapitre3/figure/\.ipynb_checkpoints/

src/Chapitre1/scripts_figure/tabgrid_data\.dat

src/Chapitre1/scripts_figure/Ex_snapshot

src/Chapitre1/scripts_figure/Phi_snapshot

src/Chapitre4/figure/\.ipynb_checkpoints/
